body {
    padding: 0;
    margin: 0;
    font-family: "Roboto", "sans-serif";
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    height: 100vh;
}

/* first */
.one {
    grid-column: 1/2;
    background-color: rgb(29, 150, 237);
    display: grid;
    grid-template-rows: 2fr 6fr 3fr 6fr;
    gap: 10px;
    padding: 5px;
    
}

.one div {
    color: aliceblue;
    font-size: 20px;
    font-weight: 500;
    margin-left: 30px;
    margin-bottom: 2px;



}

.top {
    display: flex;
    align-items: center;
    margin: 1px;
}

.top p {
    font-size: 24px;
    font-weight: 700;
    margin-left: 30px;
}

.top img {
    width: 24px;
    
    
}

.svg-icon {
    width: 35px;
    color: #eee;
}

svg {
    width: 24px;
}

.middle div {
    display: flex;
    align-content: center;
    gap: 10px;
    color: #eee;

}

.bottom div {
    display: flex;
    align-content: center;
    gap: 10px;
    color: #eee;

}

/* second */
.two {
    grid-column: 2/3;

    display: grid;
    grid-template-rows: 1fr 7fr;
}

.heading {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-between;
    padding: 0;
}

/* heading-top */

.heading-top, .heading-top-one {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
}

.searchbar {
    display: flex;
    gap: 2px;
    align-items: center;
}

#search {
    width: 500px;
    height: 30px;
    justify-items: left;
    border: 2px solid lightslategrey;
    border-radius: 20px;
    margin-left: 5px;
}
label svg {
    margin-left: 10px;
    width: 30px;
}


/* heading bottom */

.heading-bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}

.heading-bottom div {
    display: flex;
    align-items: center;
    gap: 10px;
}

#face {
    width: 60px;
    color: burlywood;
}

.heading-bottom-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 12px;
    
}

.heading-bottom-list button {
    padding: 4px 10px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: cadetblue;
}









/* content box */






.content {
    grid-row: 2/3;
    background-color: lightgrey;

    display: grid;
    grid-template-columns: 3fr 1fr;
    height: 85vh;
    padding: 10px;
    
}

.projects {
    grid-column: 1/2;

    display: grid;

    grid-template-columns: 1fr 1fr;
    justify-items: left;
    
}

.sub {
    background-color: lemonchiffon;
    height: 200px;
    width: 400px;
    border-radius: 10px;
}




/* info-bar */

.info-bar {
    display: grid;
    grid-template-rows: 1fr 4fr 1fr 4fr;
    height: 1000px;
    align-items: center;
}



.announcment {
    background-color: aliceblue;
    height: 300px;
    padding: 4px;
    font-weight: 600;
    margin:5px;
    border-radius: 20px;
    display: grid;
    grid-template-rows: repeat(auto-fit, 1fr);
}

.announcment div {
    border-bottom: 1px solid black;
}

.trending {
    background-color: aliceblue;
    text-align: center;
    border-radius: 20px;
}

